* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #0E0A09 url('../img/texture.png');
  color: #E2D5CF;
  line-height: 1.3em;
}

a:link {
  color: #E2D5CF;
}
a:visited {
  color: #E2D5CF;
}
a:hover {
  background: rgba(255, 255, 255, .2);
}
a:active {
  background: black;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: Georgia, serif;
  color: white;
}

h4 {
  margin: .7em 0;
  font-size: 1.2em;
}

h5 {
  margin: .7em 0;
  font-size: 1em;
}

img {
  max-width: 100%;
}

header, nav {
  font-family: Georgia, serif;
  font-weight: normal;
}

header {
  text-align: center;
  padding: 1.8em 0 0;
  background-image: url('../img/steak-small.jpg');
  background-position: 50% 60%;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

header h1 {
  margin: 0;
}

header h1 a:hover {
  background: transparent;
}

header h1 img {
  width: 200px;
}

header h2 {
  font-size: 1.3em;
  margin: 0em 0 2.4em;
  color: rgb(247, 229, 229);
  text-shadow:  1px  1px 0 rgba(0,0,0,.5),
               -1px  1px 0 rgba(0,0,0,.5),
                1px -1px 0 rgba(0,0,0,.5),
               -1px -1px 0 rgba(0,0,0,.5)
}

nav {
  text-align: center;
  background-color: rgba(173, 15, 8, 1);
  font-size: 1.2em;
  margin: 0 0 2em;
}

nav a {
  margin: 0;
  padding: .6em .8em;
  white-space: nowrap;
  display: inline-block;
}

nav a:link, nav a:visited {
  text-decoration: none;
  font-family: Georgia, serif;
  color: white;
}
nav a:hover {
  background: rgba(0, 0, 0, .5);
}

nav a.active {
  background: rgba(0, 0, 0, .25);
}

dl {
  margin: 0 0 3em;
}

dt {
  font-size: 1.2em;
  font-family: Georgia, serif;
}

dd {
  margin: 1em;
  color: #AA8E8E;
}

blockquote {
  font-size: 1.3em;
  line-height: 1.1em;
  margin: 1em 1em .5em 0;
  color: white;
}

.clear {
  overflow: auto;
}

.col {
  padding: 0 1em;
}

.center {
  text-align: center;
}

.container {
  max-width: 650px;
  margin: 0 auto;
  overflow: auto;
}

.link-list {
  margin: 2em 0 1em;
}

.link-list a {
  margin: 0 .2em;
}

.menu-info {
  margin: 0 0 3em 0;
}

#phone-number {
  font-size: 1.5em;
  color: white;
  text-decoration: none;
  font-family: Georgia, serif;
}

#address {
  font-size: 1.5em;
  line-height: 1.2em;
  margin: 0 0 1em;
  font-family: Georgia, serif;
  color: white;
}

#address a {
  color: white;
  text-decoration: none;
}

#hours {
  margin: 0 0 1em;
}

#hours-open {
  font-size: 1.3em;
  color: white;
  margin: 0 0 .5em;
  font-family: Georgia, serif;
}

.hours-day-name {
  display: inline-block;
  width: 2.5em;
}

.hours-day {
  color: #A59790;
}

.hours-today {
  color: white;
}

#interview {
  margin: 2em 0 0;
}

section {
  margin: 1em 0;
}

footer {
  text-align: center;
  background: rgba(43, 43, 43, 1);
  margin: 2em 0 0 0;
  padding: .6em 0;
}

footer a {
  white-space: nowrap;
}

footer a:link, footer a:visited {
  margin: 0 .2em;
  font-size: .9em;
  color: #AFA2A2;
}

footer a:hover {
  color: white;
}

@media screen and (width:320px) {
  .no-padding {
    padding: 0;
  }
}

@media screen and (min-width:600px) {
  header {
    background-image: url('../img/steak.jpg');
  }
}

@media screen and (min-width:701px) {
  .col-50 {
    float: left;
    width: 50%;
  }

  .col-40 {
    float: left;
    width: 40%;
  }

  .col-60 {
    float: left;
    width: 60%;
  }

  .col {
    padding: 0 1em 0 0;
  }

  .col:last-child {
    padding: 0;
  }

  #phone {
    /*padding: 2em;*/
  }

  header h1 img {
    width: auto;
  }

  header h2 {
    font-size: 1.5em;
  }
}
